
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title text-center" id="myMtdOrganizationLabel" data-translate="astcoreApp.mtdOrganization.home.createForm" ng-show="vm.mtdOrganization.id === null">Create or edit a Mtd Organization</h4>
        <h4 class="modal-title text-center" id="myMtdOrganizationLabel" data-translate="astcoreApp.mtdOrganization.home.updateForm" ng-show="vm.mtdOrganization.id !== null">Create or edit a Mtd Organization</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.mtdOrganization.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.mtdOrganization.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_organizationcode"><span data-translate="astcoreApp.mtdOrganization.organizationcode">Organizationcode</span><span class="required"> (*)</span></label>
            <input type="text" class="form-control" name="organizationcode" id="field_organizationcode"
                    ng-model="vm.mtdOrganization.organizationcode"
                    required jhi-maxlength="10"/>
            <div ng-show="editForm.organizationcode.$invalid">
                <p class="help-block"
                    ng-show="editForm.organizationcode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <!-- <p class="help-block"
                    ng-show="editForm.organizationcode.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.organizationcode.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="10">
                    This field cannot be longer than 10 characters.
                </p> -->
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_organizationname"><span data-translate="astcoreApp.mtdOrganization.organizationname">Organizationname</span><span class="required"> (*)</span></label>
            <input type="text" class="form-control" name="organizationname" id="field_organizationname"
                    ng-model="vm.mtdOrganization.organizationname"
                    required jhi-maxlength="50"/>
            <div ng-show="editForm.organizationname.$invalid">
                <p class="help-block"
                    ng-show="editForm.organizationname.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <!-- <p class="help-block"
                    ng-show="editForm.organizationname.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.organizationname.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p> -->
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_address"><span data-translate="astcoreApp.mtdOrganization.address">Address</span><span class="required"> (*)</span></label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="vm.mtdOrganization.address"
                    required jhi-maxlength="500"/>
            <div ng-show="editForm.address.$invalid">
                <p class="help-block"
                    ng-show="editForm.address.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <!-- <p class="help-block"
                    ng-show="editForm.address.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.address.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="500">
                    This field cannot be longer than 500 characters.
                </p> -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="field_mobilenum"><span data-translate="astcoreApp.mtdOrganization.mobilenum">Mobilenum</span><span class="required"> (*)</span></label>
                    <input type="text" class="form-control" name="mobilenum" id="field_mobilenum"
                            ng-model="vm.mtdOrganization.mobilenum"
                            required jhi-maxlength="50"/>
                    <div ng-show="editForm.mobilenum.$invalid">
                        <p class="help-block"
                            ng-show="editForm.mobilenum.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                        <!-- <p class="help-block"
                            ng-show="editForm.mobilenum.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="1">
                            This field is required to be at least 1 characters.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.mobilenum.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                            This field cannot be longer than 50 characters. -->
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="field_phonenum"><span data-translate="astcoreApp.mtdOrganization.phonenum">Phonenum</span><span class="required"> (*)</span></label>
                    <input type="text" class="form-control" name="phonenum" id="field_phonenum"
                            ng-model="vm.mtdOrganization.phonenum"
                            required jhi-maxlength="50"/>
                    <div ng-show="editForm.phonenum.$invalid">
                        <p class="help-block"
                            ng-show="editForm.phonenum.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                        <!-- <p class="help-block"
                            ng-show="editForm.phonenum.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="1">
                            This field is required to be at least 1 characters.
                        </p>
                        <p class="help-block"
                            ng-show="editForm.phonenum.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">
                            This field cannot be longer than 50 characters.
                        </p> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="astcoreApp.mtdOrganization.parents" for="field_parents">Parents</label>
            <select class="form-control" id="field_parents" name="parents" ng-model="vm.mtdOrganization.parents" ng-options="org.id as org.organizationname for org in vm.lstOrg">
                <option value=""></option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="astcoreApp.mtdOrganization.province" for="field_province">Parents</label>
            <select ng-change="vm.onChangeProvince()" class="form-control" id="field_province" name="province" ng-model="vm.mtdOrganizationTmp.province" ng-options="item.id as item.provincename for item in vm.lstProvince">
                <option value=""></option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="astcoreApp.mtdOrganization.district" for="field_district">Parents</label>
            <select ng-change="vm.onChangeDistrict()" class="form-control" id="field_district" name="district" ng-model="vm.mtdOrganizationTmp.district" ng-options="item.id as item.districtname for item in vm.lstDistrict">
                <option value=""></option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="astcoreApp.mtdOrganization.ward" for="field_ward">Parents</label>
            <select class="form-control" id="field_ward" name="ward" ng-model="vm.mtdOrganization.mtdWardId" ng-options="item.id as item.wardname for item in vm.lstWard">
                <option value=""></option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="astcoreApp.mtdOrganization.active" for="field_active">Active</label>
            <select number-converter class="form-control" name="active" ng-model="vm.mtdOrganization.active" id="field_active">
                <option value="1" data-translate="astcoreApp.EnumStatus.1">Active</option>
                <option value="0" data-translate="astcoreApp.EnumStatus.0">InActive</option>
            </select>
        </div>

        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="astcoreApp.mtdOrganization.active" for="field_active">Active</label>-->
            <!--<input type="number" class="form-control" name="active" id="field_active"-->
                    <!--ng-model="vm.mtdOrganization.active"-->
                    <!--required min="0" max="10"/>-->
            <!--<div ng-show="editForm.active.$invalid">-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.active.$error.required" data-translate="entity.validation.required">-->
                    <!--This field is required.-->
                <!--</p>-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.active.$error.min" data-translate="entity.validation.min" translate-value-min="0">-->
                    <!--This field should be at least 0.-->
                <!--</p>-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.active.$error.max" data-translate="entity.validation.max" translate-value-max="10">-->
                    <!--This field cannot be more than 10.-->
                <!--</p>-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.active.$error.number" data-translate="entity.validation.number">-->
                    <!--This field should be a number.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="astcoreApp.mtdOrganization.isdel" for="field_isdel">Isdel</label>-->
            <!--<input type="number" class="form-control" name="isdel" id="field_isdel"-->
                    <!--ng-model="vm.mtdOrganization.isdel"-->
                    <!--required min="0" max="10"/>-->
            <!--<div ng-show="editForm.isdel.$invalid">-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.isdel.$error.required" data-translate="entity.validation.required">-->
                    <!--This field is required.-->
                <!--</p>-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.isdel.$error.min" data-translate="entity.validation.min" translate-value-min="0">-->
                    <!--This field should be at least 0.-->
                <!--</p>-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.isdel.$error.max" data-translate="entity.validation.max" translate-value-max="10">-->
                    <!--This field cannot be more than 10.-->
                <!--</p>-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.isdel.$error.number" data-translate="entity.validation.number">-->
                    <!--This field should be a number.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="astcoreApp.mtdOrganization.createby" for="field_createby">Createby</label>-->
            <!--<input type="text" class="form-control" name="createby" id="field_createby"-->
                    <!--ng-model="vm.mtdOrganization.createby"-->
                    <!--ng-minlength="1" ng-maxlength="50"/>-->
            <!--<div ng-show="editForm.createby.$invalid">-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.createby.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="1">-->
                    <!--This field is required to be at least 1 characters.-->
                <!--</p>-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.createby.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">-->
                    <!--This field cannot be longer than 50 characters.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="astcoreApp.mtdOrganization.createdate" for="field_createdate">Createdate</label>-->
                <!--<div class="input-group">-->
                    <!--<input id="field_createdate" type="text" class="form-control" name="createdate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.mtdOrganization.createdate" is-open="vm.datePickerOpenStatus.createdate"-->
                    <!--/>-->
                    <!--<span class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdate')"><i class="glyphicon glyphicon-calendar"></i></button>-->
                    <!--</span>-->
                <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="astcoreApp.mtdOrganization.lastmodifyby" for="field_lastmodifyby">Lastmodifyby</label>-->
            <!--<input type="text" class="form-control" name="lastmodifyby" id="field_lastmodifyby"-->
                    <!--ng-model="vm.mtdOrganization.lastmodifyby"-->
                    <!--ng-minlength="1" ng-maxlength="50"/>-->
            <!--<div ng-show="editForm.lastmodifyby.$invalid">-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.lastmodifyby.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="1">-->
                    <!--This field is required to be at least 1 characters.-->
                <!--</p>-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.lastmodifyby.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">-->
                    <!--This field cannot be longer than 50 characters.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="astcoreApp.mtdOrganization.lastmodifydate" for="field_lastmodifydate">Lastmodifydate</label>-->
            <!--<div class="input-group">-->
                <!--<input id="field_lastmodifydate" type="text" class="form-control" name="lastmodifydate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.mtdOrganization.lastmodifydate" is-open="vm.datePickerOpenStatus.lastmodifydate"-->
                <!--/>-->
                <!--<span class="input-group-btn">-->
                    <!--<button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastmodifydate')"><i class="glyphicon glyphicon-calendar"></i></button>-->
                <!--</span>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.close">Close</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                &nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
