
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title text-center" id="myMtdCountryLabel" data-translate="astcoreApp.mtdCountry.home.createForm" ng-show="vm.mtdCountry.id === null">Create or edit a Mtd Country</h4>
        <h4 class="modal-title text-center" id="myMtdCountryLabel" data-translate="astcoreApp.mtdCountry.home.updateForm" ng-show="vm.mtdCountry.id !== null">Create or edit a Mtd Country</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.mtdCountry.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.mtdCountry.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_countryname"><span data-translate="astcoreApp.mtdCountry.countryname">Countryname</span><span class="required"> (*)</span></label>
            <input type="text" class="form-control" name="countryname" id="field_countryname"
                    ng-model="vm.mtdCountry.countryname"
                    required jhi-maxlength="250"/>
            <div ng-show="editForm.countryname.$invalid">
                <p class="help-block"
                    ng-show="editForm.countryname.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <!-- <p class="help-block"
                    ng-show="editForm.countryname.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.countryname.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="250">
                    This field cannot be longer than 250 characters.
                </p> -->
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="astcoreApp.mtdCountry.active" for="field_active">Active</label>
            <select number-converter class="form-control" name="active" ng-model="vm.mtdCountry.active" id="field_active">
                <option value="1" data-translate="astcoreApp.EnumStatus.1">Active</option>
                <option value="0" data-translate="astcoreApp.EnumStatus.0">InActive</option>
            </select>
        </div>

        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="astcoreApp.mtdCountry.active" for="field_active">Active</label>-->
            <!--<input type="number" class="form-control" name="active" id="field_active"-->
                    <!--ng-model="vm.mtdCountry.active"-->
                    <!--required min="0" max="10"/>-->
            <!--<div ng-show="editForm.active.$invalid">-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.active.$error.required" data-translate="entity.validation.required">-->
                    <!--This field is required.-->
                <!--</p>-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.active.$error.min" data-translate="entity.validation.min" translate-value-min="0">-->
                    <!--This field should be at least 0.-->
                <!--</p>-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.active.$error.max" data-translate="entity.validation.max" translate-value-max="10">-->
                    <!--This field cannot be more than 10.-->
                <!--</p>-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.active.$error.number" data-translate="entity.validation.number">-->
                    <!--This field should be a number.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="astcoreApp.mtdCountry.isdel" for="field_isdel">Isdel</label>-->
            <!--<input type="number" class="form-control" name="isdel" id="field_isdel"-->
                    <!--ng-model="vm.mtdCountry.isdel"-->
                    <!--required min="0" max="10"/>-->
            <!--<div ng-show="editForm.isdel.$invalid">-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.isdel.$error.required" data-translate="entity.validation.required">-->
                    <!--This field is required.-->
                <!--</p>-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.isdel.$error.min" data-translate="entity.validation.min" translate-value-min="0">-->
                    <!--This field should be at least 0.-->
                <!--</p>-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.isdel.$error.max" data-translate="entity.validation.max" translate-value-max="10">-->
                    <!--This field cannot be more than 10.-->
                <!--</p>-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.isdel.$error.number" data-translate="entity.validation.number">-->
                    <!--This field should be a number.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="astcoreApp.mtdCountry.createby" for="field_createby">Createby</label>-->
            <!--<input type="text" class="form-control" name="createby" id="field_createby"-->
                    <!--ng-model="vm.mtdCountry.createby"-->
                    <!--ng-minlength="1" ng-maxlength="50"/>-->
            <!--<div ng-show="editForm.createby.$invalid">-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.createby.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="1">-->
                    <!--This field is required to be at least 1 characters.-->
                <!--</p>-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.createby.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">-->
                    <!--This field cannot be longer than 50 characters.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="astcoreApp.mtdCountry.createdate" for="field_createdate">Createdate</label>-->
                <!--<div class="input-group">-->
                    <!--<input id="field_createdate" type="text" class="form-control" name="createdate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.mtdCountry.createdate" is-open="vm.datePickerOpenStatus.createdate"-->
                    <!--/>-->
                    <!--<span class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdate')"><i class="glyphicon glyphicon-calendar"></i></button>-->
                    <!--</span>-->
                <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="astcoreApp.mtdCountry.lastmodifyby" for="field_lastmodifyby">Lastmodifyby</label>-->
            <!--<input type="text" class="form-control" name="lastmodifyby" id="field_lastmodifyby"-->
                    <!--ng-model="vm.mtdCountry.lastmodifyby"-->
                    <!--ng-minlength="1" ng-maxlength="50"/>-->
            <!--<div ng-show="editForm.lastmodifyby.$invalid">-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.lastmodifyby.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="1">-->
                    <!--This field is required to be at least 1 characters.-->
                <!--</p>-->
                <!--<p class="help-block"-->
                    <!--ng-show="editForm.lastmodifyby.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="50">-->
                    <!--This field cannot be longer than 50 characters.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="astcoreApp.mtdCountry.lastmodifydate" for="field_lastmodifydate">Lastmodifydate</label>-->
                <!--<div class="input-group">-->
                    <!--<input id="field_lastmodifydate" type="text" class="form-control" name="lastmodifydate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.mtdCountry.lastmodifydate" is-open="vm.datePickerOpenStatus.lastmodifydate"-->
                    <!--/>-->
                    <!--<span class="input-group-btn">-->
                        <!--<button type="button" class="btn btn-default" ng-click="vm.openCalendar('lastmodifydate')"><i class="glyphicon glyphicon-calendar"></i></button>-->
                    <!--</span>-->
                <!--</div>-->
        <!--</div>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
