<div>
    <section class="content-header">
        <h1 data-translate="astcoreApp.mtdDistrict.home.title">Mtd Districts</h1>
    </section>

    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-8 no-padding-left">
                            
                            <form name="searchForm" class="form-inline">
                                <div class="input-group pull-right" >
                                    <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'astcoreApp.mtdDistrict.home.search' | translate }}">
                                    <span  class="input-group-btn width-min" >
                                        <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                    <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                                        <button class="btn btn-info" ng-click="vm.clear()">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-4 no-padding-right text-right">
                            <button class="btn btn-primary" ui-sref="mtd-district.new" >
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="hidden-xs-down"  data-translate="astcoreApp.mtdDistrict.home.createLabel">
                                    Create new Mtd District
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <jhi-alert></jhi-alert>

            <div class="box-body">
                <div class="table-responsive">
                    <table class="jh-table table table-striped">
                        <thead>
                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                            <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th><span data-translate="astcoreApp.mtdDistrict.districtcode">Districtcode</span></th>
                            <th><span data-translate="astcoreApp.mtdDistrict.districtname">Districtname</span></th>
                            <th><span data-translate="astcoreApp.mtdDistrict.mtdProvince">Mtd Province</span></th>
                            <th><span data-translate="astcoreApp.mtdDistrict.dislatitude">Dislatitude</span></th>
                            <th><span data-translate="astcoreApp.mtdDistrict.dislongitude">Dislongitude</span></th>
                            <th><span data-translate="astcoreApp.mtdDistrict.active">Active</span></th>
                            <!--<th jh-sort-by="isdel"><span data-translate="astcoreApp.mtdDistrict.isdel">Isdel</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                            <!--<th jh-sort-by="createby"><span data-translate="astcoreApp.mtdDistrict.createby">Createby</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                            <!--<th jh-sort-by="createdate"><span data-translate="astcoreApp.mtdDistrict.createdate">Createdate</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                            <!--<th jh-sort-by="lastmodifyby"><span data-translate="astcoreApp.mtdDistrict.lastmodifyby">Lastmodifyby</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                            <!--<th jh-sort-by="lastmodifydate"><span data-translate="astcoreApp.mtdDistrict.lastmodifydate">Lastmodifydate</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                            <th><span data-translate="astcoreApp.mtdDistrict.action">Action</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="mtdDistrict in vm.mtdDistricts track by mtdDistrict.id">
                            <td><a ui-sref="mtd-district-detail({id:mtdDistrict.id})">{{mtdDistrict.id}}</a></td>
                            <td>{{mtdDistrict.districtcode}}</td>
                            <td>{{mtdDistrict.districtname}}</td>
                            <td>
                                <a ui-sref="mtd-province-detail({id:mtdDistrict.mtdProvinceId})">{{mtdDistrict.mtdProvinceProvincename}}</a>
                            </td>
                            <td>{{mtdDistrict.dislatitude}}</td>
                            <td>{{mtdDistrict.dislongitude}}</td>
                            <td data-translate="{{'astcoreApp.EnumStatus.' + mtdDistrict.active}}">{{mtdDistrict.active}}</td>
                            <!--<td>{{mtdDistrict.isdel}}</td>-->
                            <!--<td>{{mtdDistrict.createby}}</td>-->
                            <!--<td>{{mtdDistrict.createdate | date:'mediumDate'}}</td>-->
                            <!--<td>{{mtdDistrict.lastmodifyby}}</td>-->
                            <!--<td>{{mtdDistrict.lastmodifydate | date:'mediumDate'}}</td>-->
                            <td class="">
                                <!-- <div class="btn-group flex-btn-group-container"> -->
                                    <button type="submit"
                                            ui-sref="mtd-district-detail({id:mtdDistrict.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="mtd-district.edit({id:mtdDistrict.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="mtd-district.delete({id:mtdDistrict.id})"
                                            class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                                    </button>
                                <!-- </div> -->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                    <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                </div>
            </div>
        </div>
    </section>
</div>

