<div>
    <section class="content-header">
        <h1 data-translate="astcoreApp.deviceTransaction.home.title">Device Transactions</h1>
    </section>

    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-8 no-padding-left">
                            
                            <form name="searchForm" class="form-inline">
                                <div class="input-group pull-right" >
                                    <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'astcoreApp.deviceTransaction.home.search' | translate }}">
                                    <span  class="input-group-btn width-min" >
                                        <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                    <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                                        <button class="btn btn-info" ng-click="vm.clear()">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="col-xs-4 no-padding-right text-right">
                            <button class="btn btn-primary" ui-sref="device-transaction.new" >
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="hidden-xs-down"  data-translate="astcoreApp.deviceTransaction.home.createLabel">
                                    Create new Device Transaction
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <jhi-alert></jhi-alert>

            <div class="box-body">
                <div class="table-responsive">
                    <table class="jh-table table table-striped">
                        <thead>
                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                            <th jh-sort-by="id"><span data-translate="global.field.id">ID</span></th>
                            <th><span data-translate="astcoreApp.deviceTransaction.transdate">Transdate</span></th>
                            <th><span data-translate="astcoreApp.deviceTransaction.devicecode">Devicecode</span></th>
                            <th><span data-translate="astcoreApp.deviceTransaction.type">Type</span></th>
                            <th><span data-translate="astcoreApp.deviceTransaction.currentvalue">Currentvalue</span></th>
                            <th><span data-translate="astcoreApp.deviceTransaction.valuedate">Valuedate</span></th>
                            <th><span data-translate="astcoreApp.deviceTransaction.active">Active</span></th>
                            <!--<th jh-sort-by="isdel"><span data-translate="astcoreApp.deviceTransaction.isdel">Isdel</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                            <!--<th jh-sort-by="createby"><span data-translate="astcoreApp.deviceTransaction.createby">Createby</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                            <!--<th jh-sort-by="createdate"><span data-translate="astcoreApp.deviceTransaction.createdate">Createdate</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                            <!--<th jh-sort-by="lastmodifyby"><span data-translate="astcoreApp.deviceTransaction.lastmodifyby">Lastmodifyby</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                            <!--<th jh-sort-by="lastmodifydate"><span data-translate="astcoreApp.deviceTransaction.lastmodifydate">Lastmodifydate</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                            <!-- <th jh-sort-by="deviceInfoId"><span data-translate="astcoreApp.deviceTransaction.deviceInfo">Device Info</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th></th> -->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="deviceTransaction in vm.deviceTransactions track by deviceTransaction.id">
                            <td><a ui-sref="device-transaction-detail({id:deviceTransaction.id})">{{deviceTransaction.id}}</a></td>
                            <td>{{deviceTransaction.transdate | date:'mediumDate'}}</td>
                            <td>{{deviceTransaction.devicecode}}</td>
                            <td>{{deviceTransaction.valuetype}}</td>
                            <td>{{deviceTransaction.currentvalue}}</td>
                            <td>{{deviceTransaction.valuedate | date:'dd-MM-yyyy hh:mm:ss'}}</td>
                            <td data-translate="{{'astcoreApp.EnumStatus.' + deviceTransaction.active}}">{{deviceTransaction.active}}</td>
                            <!--<td>{{deviceTransaction.isdel}}</td>-->
                            <!--<td>{{deviceTransaction.createby}}</td>-->
                            <!--<td>{{deviceTransaction.createdate | date:'mediumDate'}}</td>-->
                            <!--<td>{{deviceTransaction.lastmodifyby}}</td>-->
                            <!--<td>{{deviceTransaction.lastmodifydate | date:'mediumDate'}}</td>-->
                            <!-- <td>
                                <a ui-sref="device-info-detail({id:deviceTransaction.deviceInfoId})">{{deviceTransaction.deviceInfoId}}</a>
                            </td> -->
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            ui-sref="device-transaction.edit({id:deviceTransaction.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                                    </button>

                                    <!-- <button type="submit"
                                            ui-sref="device-transaction-detail({id:deviceTransaction.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="device-transaction.edit({id:deviceTransaction.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="device-transaction.delete({id:deviceTransaction.id})"
                                            class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                                    </button> -->
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                    <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                </div>
            </div>
        </div>
    </section>
</div>
